<div class="card mt-4 mb-3 mx-auto px-4" style="max-width: 600px;">

    <h1 class="card-title text-center pt-3">Edit Blog</h1>
    <p-toast></p-toast>
    <!-- <div class="row show-hide-message" *ngIf="message">
        <div [ngClass]="messageClass">
            {{message}}
        </div>
    </div> -->

    <form (submit)="updateBlogSubmit()" *ngIf="!loading">
        <div class="mb-3">

            <div class="form-group ">
                <label for="title" class="mb-2">Title</label>
                <input [disabled]="processing" type="text" name="title" placeholder="Blog Title" class="form-control"
                    [(ngModel)]="blog.title">
            </div>
        </div>
        <div class="mb-3">

            <div class="form-group">
                <label for="body" class="mb-2">Body</label>
                <!-- <input type="text" name="body" placeholder="Blog body" class="form-control" [(ngModel)]="blog.body"> -->
                <textarea [disabled]="processing" name="body" cols="30" rows="10" placeholder="Blog body"
                    class="form-control" [(ngModel)]="blog.body"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-info m-2 mb-4 ms-0 mt-3" [disabled]="processing">Save
            Changes</button>
        <!-- <a [routerLink]="['/delete-blog/', blog._id]"><button type="button" [disabled]="processing"
                class="btn btn-danger m-2">Delete</button></a> -->
        <button type="button" class="btn btn-success m-2 mb-4 mt-3" (click)="goBack()">Cancel</button>
    </form>
</div>