<div class="card mb-3 mt-5">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="user?.profilePicPath" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8" style="position: relative;">
            <div class="card-body">
                <h2 class="card-title">{{user?.name}} Profile Details</h2>
                <p class="card-text">
                    <strong>Name: </strong> {{user?.name}}
                </p>
                <p class="card-text">
                    <strong>Email: </strong> {{user?.email}}
                </p>
                <p class="card-text">
                    <strong>Branch: </strong> {{user?.branch}}
                </p>
                <p class="card-text">
                    <strong>Year: </strong> {{user?.year}}
                </p>
                <a [routerLink]="['/edit-profile/', user?.email]"><button type="button" name="button"
                        class="btn btn-sm btn-primary mt-2 me-2 mb-5 px-4">Edit</button> </a>
                <a (click)="deleteProfile()"><button type="button" name="button"
                        class="btn btn-sm btn-danger mt-2 ms-2 mb-5 px-4">Delete</button> </a>
            </div>
            <a routerLink="/" class="btn btn-success" style="position: absolute; bottom: 0;">Go to home</a>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>