/* 
.card-header{
    background-color: hotpink;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
  }



.profile-image-preview{
    height: 5rem;
    margin: 1rem 0;
}
.profile-image-preview img{
    max-height: 100%;
}

.user-image{
    display: inline-block;
    margin-bottom: 1rem;
    max-height: 3rem;
    max-width: 3rem;
    
}

.user-image img{
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.post-image{

    display: block;
    max-height: 30rem;
    max-width: 30rem;
    margin: 1rem auto;

}

.post-image img{

    width: 70%;
    object-fit: contain;
    margin: 1rem 2rem;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 500px) {

    .center{
        width: 100%;
    }

    .likes{
        margin: 1rem;
        display: inline-block;

    }
    .dislikes{
        margin: 1rem;
        display: inline-block;
    }
}

 */

input {
    outline: none;
    border: none;
    border: .2px solid rgb(220, 219, 219);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}


.card-title {
    padding-top: 1.5rem;
}


.card-text,
.card-title {
    padding-left: 1rem;
    padding-right: 1rem;


}

.footer {
    background-color: rgb(251, 249, 249);
    padding: 1rem;
}

.card {
    width: 62%;
    /* box-shadow: 5px 2px 3px rgb(248, 248, 248); */
    margin: 2rem 0;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
}

.btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.profile-image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.profile-image-preview img {
    max-height: 100%;
    object-fit: cover;
}

.profile-image {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
    border-radius: 50%;

}

@media screen and (max-width: 420px) {
    .card {
        width: 100%;
    }

}