<div class="container">
    <div class="form">
        <div class="heading">
            <!-- <img src="logo.png" class="logo"> -->
            <h1>Search For Jobs</h1>
        </div>
        <!--Form-->
        <div class="wrap2">
            <label>State</label>
            <input type="text">
            <span class="focus-input2"></span>
        </div>

        <div class="wrap2">
            <label>Year</label>
            <input type="number">
            <span class="focus-input2"></span>
        </div>

        <div class="wrap2">
            <label>Skill</label>
            <input type="text">
            <span class="focus-input2"></span>
        </div>
        <div class="wrap2">
            <label>Field</label>
            <input type="text">
            <span class="focus-input2"></span>
        </div>

        <button class="btn">Search</button>
    </div>
    <!--Image-->
    <div class="image">
        <img src="../.././../assets/images/job.jpg" class="img" alt="" />
    </div>
</div>