.navbar{
   background-color: #3f51b5;

   margin-bottom: 3rem;
   /* background-color: #09f; */
    /* position: fixed; */
    /* width: 100%; */
    /* z-index: 999; */
    /* top: 0; */
   /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

}
a{
    color: white;
}

a:hover{
    color: rgb(5, 236, 205);
}
.navbar-nav .nav-item .active{
    background-color: #3f51b5;
    color: rgb(5, 236, 205);
}
.navbar-nav .nav-item .nav-link{
    font-size: 1.2em;
    font-weight: 500;
    padding: .5rem;
    margin-right: 1rem;

}
.navbar-toggler{
    color: blue;
    background-color: white;
}
.navbar-brand{
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Corinthia', cursive;
    /* font-family: 'Qwigley', cursive; */
    font-size: 2.5rem;
    color: rgb(5, 236, 205);
}
